body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  color: #035aa6;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-size: 562.3%;
  font-family: 'Sacramento', cursive;
}

h2 {
  padding-bottom: 10px;
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #7ebdb4 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyrigth {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #b4f2e1;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  font-family: 'Ubuntu', sans-serif;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.btn {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #30e3ce 5%, #2bc4ad 100%);
  background-color: #30e3ce;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.btn:hover {
  background: linear-gradient(to bottom, #2bc4ad 5%, #30e3ce 100%);
  background-color: #2bc4ad;
}

.btn:active {
  position: relative;
  top: 1px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}
